<script lang="ts">
export default {
  data: () => ({
    hobby: [
      {
        name: "จักรยาน",
      },
      {
        name: "มอเตอร์ไซค์",
      },
      {
        name: "ทฎษฏี",
      },
      {
        name: "การทำอาหาร",
      },
      {
        name: "จิตวิทยา",
      },
      {
        name: "เครื่องดนตรี",
      },
    ],
    items: [
      {
        prependAvatar:
          "https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/305204532_490886442850362_8670165583616884928_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGhs144R2l0cf2okTuhq687TRuYwc5XH1dNG5jBzlcfV23yPEoGTvocmK6ccfSbb1y5lQPG-msQ8c0huJOGjnNr&_nc_ohc=HAVEiWJbzksAX8xi0Cs&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfA2Cikv1EjZE0s11ZFLELuiqloEZjUHaYpy8RL0GEamcA&oe=63A28088",
        title: "โรงเรียนมารีวิทยาศรีมโหสถ ปราจีนบุรี",
        subtitle: `<span class="text-primary">อายุ 2 - 5 ปี</span>ที่อยู่: 99 หมู่ 6 ถ.สุวินทวงศ์ ต.โคกปีบ อ.ศรีมโหสถ จ.ปราจีนบุรี 25190 ,
          `,
      },
      { type: "divider", inset: true },
      {
        prependAvatar:
          "https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-1/308736559_386803356997498_7708050881291334786_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&ccb=1-7&_nc_sid=c6021c&_nc_eui2=AeFG1XVT0Gu1rV3O7v3MHSK6C5JE30NqMPcLkkTfQ2ow98q1IAwG29cU1omAb3uqF1sROtveGbrQS1YB2iFZ9iyQ&_nc_ohc=WJv0INbcKXgAX9E39JE&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfAgLmAyy5FgI8r_0shmn5owWjvwnMjznW-aZsIX3MQz3g&oe=63A2C536",
        title: "โรงเรียนมัธยมวัดใหม่กรงทอง ในพระราชูปถัมภ์ฯ",
        subtitle: `<span class="text-primary">อายุ 5 - 11 ปี</span>&mdash;ที่อยู่: 87 หมู่ 3 ตำบล ศรีมหาโพธิ อำเภอศรีมหาโพธิ ปราจีนบุรี 25140`,
      },
      { type: "divider", inset: true },
      {
        prependAvatar:
          "https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/309373407_594769519106654_4524234067323427512_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeESWN8sBhuk72hWomG-2vVsXAnBwtRbCSVcCcHC1FsJJQ-iQzdo4J-CKToPYP22N-UYDkPujb3T5nUgItcIb5Ay&_nc_ohc=Ze5aTWcum_8AX_qq92e&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC9CsITTFYB1DdBthcCkzP-ClP6HWGANRCnzeUvtRwlXg&oe=63A27A1B",
        title: "โรงเรียนปราจิณราษฎรอำรุง",
        subtitle:
          '<span class="text-primary">อายุ 11-17 ปี</span> &mdash; เลขที่ 880 ถนนปราจีนอนุสรณ์ ตำบลหน้าเมือง อำเภอเมือง จังหวัดปราจีนบุรี 25000',
      },
    ],
  }),
};
</script>
<template>
  <v-container>
    <v-row class="row">
      <v-col>
        <v-avatar
          image="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/305463139_1169957030588458_3102087508267683881_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFeu98KXq6ZZ0vOTpos80L6O-nTWKKmS3876dNYoqZLfzR4I5_-vzjuvYdGtnH7fhZTED2qmbRDKGS0nsDf3b_X&_nc_ohc=S0GOp6242OIAX-votq_&_nc_oc=AQnI77cKZXwHCy4-Iq7rT3zjtiFIhm_-nbCHT7JF0wAdh82JFOOMg3LA1fpnB7RGIvRdGgzkBsRdEW2-Y-9KWXhZ&tn=6Px_LsItUCr8toym&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfBPLyW0IPW_q1psm02QkwuIlqvrnb_tyR476GZ6h2qI0A&oe=63A32B5B"
          size="200"
        ></v-avatar>
        <div class="font">
          <br /><v-table>
            <v-img src="./assets/profile.png" class="row"><div class="font">
              <h3>ชื่อ: ปุณยวัจจ์  หงษ์หิน</h3>
              <h3>วิชาเอก: วิทยาการคอมพิวเตอร์</h3>
              <h3>คณะ: วิทยาการสารสนเทศ</h3>
            </div></v-img>
          </v-table></div
      ></v-col>
      <v-col>
        <div>
          <v-card justify="auto" max-width="auto">
            <v-toolbar color="black">
              <v-toolbar-title>ประวัติการศึกษา</v-toolbar-title>
            </v-toolbar>
            <v-list :items="items" item-props lines="three">
              <template v-slot:subtitle="{ subtitle }">
                <div v-html="subtitle"></div>
              </template>
            </v-list>
          </v-card></div
      ></v-col>
    </v-row>
    <div>
      <v-table height="300px">
        <thead>
          <tr>
            <th class="text-center"><h2 class="font">สิ่งที่สนใจ</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-left,font" v-for="item in hobby" :key="item.name">
            <td>{{ item.name }}</td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </v-container>
</template>
<style scoped>
.row {
  background-color: #00ffff;
  width: auto;
  color: black;
  font-size: 130%;
}
.font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
</style>
