<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/305463139_1169957030588458_3102087508267683881_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFeu98KXq6ZZ0vOTpos80L6O-nTWKKmS3876dNYoqZLfzR4I5_-vzjuvYdGtnH7fhZTED2qmbRDKGS0nsDf3b_X&_nc_ohc=S0GOp6242OIAX-votq_&_nc_oc=AQnI77cKZXwHCy4-Iq7rT3zjtiFIhm_-nbCHT7JF0wAdh82JFOOMg3LA1fpnB7RGIvRdGgzkBsRdEW2-Y-9KWXhZ&tn=6Px_LsItUCr8toym&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfBPLyW0IPW_q1psm02QkwuIlqvrnb_tyR476GZ6h2qI0A&oe=63A32B5B"
          title="Punyawat Honghin"
          subtitle="64160138@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="MyFiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="MyProfile"
          to="/my-profile-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="Starred"
          to="/starred-view"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiFolder,
  mdiStar,
  mdiAccountMultiple,
  mdiWeatherSunny,
  mdiWeatherNight,
} from "@mdi/js";
const theme = ref("dark");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
